/* DESKTOP STYLES (min-width: 768px) */
@media screen and (min-width: 768px) {
    header h1 {
        font-size: 3rem;
    }

    /* HIDE HAMBURGER BUTTON ON DESKTOP */
    #hamburgerBtn {
        display: none !important;
    }

    /* SHOW NAVIGATION LINKS ON DESKTOP */
    nav {
        display: flex !important;
        justify-content: center;
        align-items: center;
        flex-direction: row !important;
    }

    nav a {
        font-size: 1.1rem;
        margin: 0 1rem;
        padding: 0;
    }

    #about h2,
    #why-filipino h2,
    #feature h2, #cta h2, #newsletter h2 {
        font-size: 2.25rem;
    }

    #mobileNav {
        gap: 20rem;   
    }
}