@media screen and (min-width:740px) {


    header {
        display: flex;
        flex-direction: column;
        padding: 1rem;
        align-items: center;
        justify-content: space-between;
        background-color: #e6f2ff;
        color: black;
    }
    /* nav ul {
        justify-content: center;
        flex-direction: row;
        align-items: center;
    }
    
    nav a {
        flex: 1 1 100%;
    } */

    main {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1rem;
        justify-items: center;
            /* Centers each grid item */
        box-sizing: border-box;
            /* Prevents overflow from padding + border */
    }
    
    main h2 {
        grid-column: 1 / -1;
        text-align: center;
        /* Spans all columns */   
    }

    #mobileNav {
        display: flex !important;
        flex-direction: row;
        gap: 5rem;
    }

    #mobileNav a {
        display: flex;
        flex-direction: row;
        gap: 5rem;        
    }

    nav {
        display: flex;
        justify-content: center;
        flex-direction: row;
        padding: 1rem;
    }
    
    nav {
        display: flex;
        flex-direction: row;
    }
    
    nav a {
        display: flex;
        flex-direction: row;
        /* color: black; */
        text-align: center;
        margin: 1rem;
        padding: 1rem;
        font-size: larger;
        text-decoration: underline;
    }
    
    nav a:hover {
        text-decoration: underline double;
        background-color: white;
        color: #000;
    }
    
    .active {
        color: yellow;   }

    #hamburgerBtn {
        display: none;
        /* Hide hamburger on large screens */   
    }
    #temples {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 1rem;
        padding: 1rem;    
    }

    #temples section {
        background-color: #e9f5ff;
        border: 1px solid #ccc;
        border-radius: 10px;
        padding: 1rem;
        text-align: center;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    }
    #temples img {
        width: 100%;
        height: auto;
        border-radius: 5px;
        margin-top: 0.5rem;        
    }
}