* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7fafc;
    color: #2D3748;
}

header {
    background: #2A4365;
    color: white;
    text-align: center;
    padding: 1rem;
}

header h1 {
    margin: 0;
    font-size: 1.8rem;
}

footer {
    background: #e2e8f0;
    text-align: center;
    padding: 1rem;
    color: #1A202C;
}

main {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}

.main-image {
    position: relative;
    width: 100%;
}

.main-image img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    display: block;
}

/* overlays */
.overlay {
    background: #EBF8FF;
    padding: 1rem;
    border-radius:8px;
    max-width: 300px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1)
}

.data-box {
    background: #EBF8FF;
    border-left: 5px solid #319795;
}

.weather-box {
    background: #EBF8FF;
    border-left: 5px solid #319795;
}

.data-box h2, .weather-box h2 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    color: #1a202c;
    font-size: 1.2rem;
    background-color: aqua;
}

.weather-icon {
    width: 50px;
    display: block;    
    height: auto;
    margin: 0.5rem auto;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 0.5rem;
    margin-bottom: 0.3rem;
}
li span {
    font-weight: bold;
    white-space: nowrap;
    color: #2A4365;
}

li span:not(.value)::after {
    content: ":";
    margin-left: 0.2rem;
    
}

li span:not(.value) {
    color: #2D3748;
}

li span.value {
    color: #2D3748;
    font-weight:400;
}


@media (min-width: 768px) {
    main {
        padding: 0;
    }

    .main-image {
        position: relative;
        width: 100%;   
    }

    data-box ul, .weather-box ul {
    margin: 0;
    padding: 0;
    }

    .data-box, .weather-box {
        width: 300px;
    }

    .data-box {
        position: absolute;
        top: 5rem;
        left: 2rem;               
    }

    .weather-box {
        position: absolute;
        bottom: 5rem;
        right: 2rem;        
    }
    
    .weather-box .weather-icon {
        width: 60px;
      
    }
}

@media (max-width: 767px) {
    .overlay {
        position: static;
        max-width: 100%;
        margin-top: 1rem;
        box-shadow: none;
        border-left:none;
    }

    .weather-box .weather-icon {
        width: 60px;
    }
}

